ul{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 20%;
  text-align: center;
  color: grey;
}

li{
    border: 1px solid grey;
    padding-top: 5px;
	padding-bottom: 5px;
    margin-bottom: 10px;
}
